body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedor{
    background-color: aqua;
    padding: 20px;
}
h1{
    font-size: 55px;
    text-align: center;
}
button{
    border-radius: 15%;
    padding: 15px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.botones{
    display: flex;
    justify-content: space-evenly;
    background-color: turquoise;
    padding: 1px;
}
.btn1:hover{
    border: 5px solid rgb(18, 223, 69);
    background: greenyellow;
    cursor: pointer;
}
.btn2:hover{
    border: 5px solid rgb(18, 223, 69);
    background: greenyellow;
    cursor: pointer;
}