.tabla{
    font-family: sans-serif;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,150px);
}
.tabla > div {
    background-color: blueviolet;
    color: white;
    padding: 18px;
    text-align: center;
}